<%- include("partials/header") -%>
<div class="box">
<h1 class="title is-1">ABOUT</h1>
<p class="title is-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac mollis nunc. Nullam nulla urna, tristique non diam a, faucibus dapibus dui. In elementum vitae risus ac euismod. Proin et lectus et est volutpat mattis. Ut mattis vehicula rhoncus. Maecenas cursus nec turpis eu ultricies. Phasellus congue dolor elit, vitae fermentum metus tempor sed. Cras quis nibh id justo porta hendrerit. Mauris auctor sollicitudin neque quis mattis. Sed eu consequat ipsum. Fusce rhoncus orci lacinia nisl ullamcorper tempus.</p>
</div>
<%- include("partials/footer") -%>