<%- include("partials/header") -%>
<div class="box">
<h1 class="title is-1">CONTACT US</h1>
<p class="title is-5">Mail: imt_2018020@iiitm.ac.in</p>
<p class="title is-5">Mobile No: +1-283-7286</p>
</div>
<%- include("partials/footer") -%>